{% extends "_base.html" %}

{% block description %}"Anonymous"{% endblock %}
{% block title %}{{header}}{% endblock %}
{% block navbar %}Anonymous{% endblock %}

{% block container %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1>
            {{header}}
            <br>
            <small>{{signature}}</small>
          </h1>
        </div>
        <div class="panel-body">
          {{body}}
        </div>
      </div>

      {% block edit_btn %}{% endblock %}
{% endblock container %}
