{% extends "_base.html" %}

{% block description %}"Edit"{% endblock %}
{% block title %}Редактирование{% endblock %}
{% block navbar %}Authenticated{% endblock %}

{% block container %}
      <form method="POST">
        <div class="form-group">
          <input name="header" class="form-control" autofocus value="{{header}}"/>
        </div>
        <div class="form-group">
          <input name="signature" class="form-control" value="{{signature}}"/>
        </div>
        <div class="form-group">
          <textarea name="body" class="form-control" rows="10">{{body}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
      </form>
{% endblock container %}
